@mixin centerItem($justify, $align){
  display: flex;
  align-items: $align;
  justify-content:$justify;
}

@mixin TabletLimit{
  @media(max-width:1200px){
    @content;
  }
}
.navbar{
  height: 80px;
  background: #F8F8F8;
  .container{
    height: 100%;
    .row{
      height: 100%;
      .mobile-m{
        display: none;
        height: 100%;
        img{
          width: 40px;
        }
      }
      .logo{
        @include centerItem(center, center);
        height: 100%;
        width: 200px;
      }
      .location-icon{
        display: none;
        height: 100%;
        width: 80px;
      }
      .menu-items{
        @include centerItem(center, center);
        height: 100%;
        .links{
          @include centerItem(center, center);
          height: 100%;
          .link_items{
            a{
              font-weight: 500;
            }
          }
        }
      }
      .nav-icons{
        @include centerItem(center, center);
        height: 100%;

        .fav{
          width: 30px;
        }
        .cart{
          width: 30px;
        }
      }
    }
  }
}

@include TabletLimit{
    .navbar{
    .container{
      .row{
        .mobile-m{
          @include centerItem(center, center);
        }
        .location-icon{
          @include centerItem(center, center);
        }
        .menu-items{
          display: none;
        }
        .nav-icons{
          display: none;
        }
      }
    }
  }
}


button{
  border: none;
}